aws_profile = "workProfile"
ssh_key = "/Users/admin/.ssh/aws-work-eu_central_1.pem"

owner = "john@doe.com"

consul-autojoin-keyid = "AXXXXXXXXXXXXXXXXXXX"
consul-autojoin-secretkey = "blahblahblahSECUREblahblah"
instance_ssh_keyname = "dc1-instances-sshkey-01"

consul_version = "1.7.3+ent"
consul_ami_version = "1.7.3-ent"